//  li {list-style-type: none;
//   font-size: 12pt;
//   font-family: sans-serif;
//   }
// ul {
//   list-style-type: none;
// }

//CSS file for the Group widget, WIP, this file will become more fleshed out as the group widget finished its production
form {
  padding-left: 30px;
  padding-right: 30px;
  padding-inline: 15px;
  padding-top: 10px;
}

h2 {
  font-size: 15pt;
  align-self: center;
  padding-bottom: 0;
}
.formField {
  align-self: auto;
  padding-bottom: 0;
  padding-top: 0;
}
#openinput {
  font-size: 15pt;
}

#viewDropList{
  font-size: 10pt;
}
#viewDropList-content a{
  font-family: sans-serif;
}
#viewDropList-content option:hover{
  background-color: rgb(70, 69, 69);
}
