//CSS file for the Group widget, WIP, this file will become more fleshed out as the group widget finished its production

#layoutDropList{
  font-size: 12pt;
  font-family: 'Segoe UI';
  width: 175px;
}
